:root {
    --dark: #132934;
    --light-grey: rgb(245, 245, 255);
    --secondary: #6DC0B6;
    --main: #F7C437;
    --buttons: #132934;        
}

header{
    /*min-height: 12vh;*/   
    
}

nav{
    display: flex;
    align-items: center;
    min-height: 12vh;

    position: fixed; /* Fija el navbar en la parte superior */
    top: 0; /* Posición en la parte superior de la página */
    width: 100%; /* Ancho completo */

    
    /*opacity: 0.95;*/
    z-index: 1000; /* Asegura que esté por encima de otros elementos */

    
}

li{
    list-style: none;
}

body{   
    text-align: center;    
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    
    
}


footer {
    position: fixed;
    min-height: 2vh;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--secondary);
    text-align: center;
    padding: 1vh 0;
    margin-top: auto;
}

a{
    text-decoration: none;
}

footer a {
    text-decoration: none;
    color: #f4f9ff;
}


hr{
    margin-bottom: 1%;
    margin-top: 1.5%;
    width: 40%;
    margin-left: auto; /* Establece el margen izquierdo a auto */
    margin-right: auto; /* Establece el margen derecho a auto */
}

.btn-custom{
    background-color: var(--dark);
    color: #f4f9ff;
}

.titulo{
    font-size: 2rem;
    background-color: var(--main);
    /*height: 12vh;*/
}

.historical-buttons{
    display: flex;
    flex-direction: column;    
    position: fixed;
    top: 14vh;
    left: 2vh;    
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.historical-btn{
    margin:2% 0;
    /*width: fit-content;*/
}

.empresa-selected, .tarifa-selected, .tension-selected, .peaje-selected{
    
    
}

.container-home{
    
    min-height: 96vh;
    /*background-color: aquamarine;*/
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea verticalmente */
    justify-content: center; /* Alinea horizontalmente (opcional) */
    
}

.container-empresas, .container-tarifas, .container-tension, .container-peaje, .container-menu, .info-container-section{
    min-height: 100vh;     
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea verticalmente */
    justify-content: center; /* Alinea horizontalmente (opcional) */
    
}

/*.info-container-section{
    min-height: 96vh;    
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;   
}*/

.container-empresas{
    background-color: var(--dark);
}

.container-tarifas{
    background-color: var(--dark);
}

.container-tension{
    background-color: var(--dark);
}

.container-peaje{
    background-color: var(--dark);
}

.svg{
    
    margin:1%; /* Tamaño específico */
    height: 50px; /* Mantén la relación de aspecto */
    
}

.card-settings{
    padding: 3%;
}

.form-card{
    margin-bottom: 10vh;
}

.advertencia{
    width: fit-content;
    margin-left: auto; /* Establece el margen izquierdo a auto */
    margin-right: auto; /* Establece el margen derecho a auto */
    background-color: rgb(243, 245, 247);
}

/*.info-container{
    text-align: left;
    width: fit-content; 
    margin-left: auto; 
    margin-right: auto;     
    background: #f4f9ff;
    border: 1px solid;    
   
}

.info-container span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
    
    display: inline-block; 
    vertical-align: middle;
  
}*/

.info-container{
    text-align: left;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#outer-t3-container, #outer-t2-container, #outer-t1-container{
    padding-top: 14vh;
}

.hidden{
    display: none;
}

.show{
    display: block;
}


.selected{
    background-color: rgb(23, 209, 178);
    border: 2.5px solid black;
}
.selected:hover{
    background-color: rgb(26, 184, 157);
}

.campo{
    font-weight: 600;
}

.info-icon{
    cursor: pointer;
}

.info-icon:hover{
    color: rgb(127, 204, 240);
}

/*Desactiva cursores de incrementar y decrementar valor en los inputs de tipo number
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


